.wrapper {
    background: #fff;
    max-width: 968px;
    margin: 0 auto;
    padding: 20px;
}

/* to clear floats */
.wrapper::after {
    content: '';
    display: block;
    clear: both;
}

/* to clear floats */
.services::after {
    content: '';
    display: block;
    clear: both;
}

.service h2, .service p {
    color: #999;
    margin: 10px 0;
    text-align: center;
}

.service {
    float: left;
    background: #eee;
    width: 29.3%; 
    margin: 1%;
    padding: 1%;
    height: 140px;
}

.content {
    padding: 10px;
    background: #ccc;
    clear: both; /* used to clear floats */
    margin-top: 50px;
}